.work {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.gallery img {
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgb(84, 84, 248);
}
/* media query */
@media (max-width: 800px) {
  .gallery {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 60%;
    margin-bottom: 25px;
  }
}
